<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Model Deployment</title>
</head>
<body>
    <h1>Predict your Salary</h1>
    <p>
        How many years of experience
    </p>
    <form action="/" method="POST">
        <input type="number" name="hrs" placeholder="Number of Hours Studied">
        <input type="submit">
    </form>


</body>
</html>